---
import Container from '../components/Container.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="About" activePage="/about-the-conference">
	<main>
		<Container>
			<h1 class="uk-h1">About the Conference</h1>
		</Container>
	</main>
</Layout>
