---
import Container from '../components/Container.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Speakers" activePage="/speakers">
	<main>
		<Container>
			<h1 class="uk-h1">Speakers</h1>
		</Container>
	</main>
</Layout>
