---
import Container from '../components/Container.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Survival Guide" activePage="/travel-and-accommodation">
	<main>
		<Container>
			<h1 class="uk-h1">Travel & Accommodation</h1>
		</Container>
	</main>
</Layout>
