---
import Container from "../Container.astro";
---

<section class="uk-section uk-background-default">
    <Container>
      <h2 class="uk-h2 mb-10">
        Conference Theme
      </h2>
      <p class="uk-text-large leading-loose">
        The <strong><i>Granada Conference on End-of-Life: Evidence-based ethics and policy-making</i></strong> welcomes international <strong>scholars</strong>, <strong>clinicians</strong>, <strong>legal experts</strong>, and <strong>policy-makers</strong> interested in <strong>empirical analysis</strong> and <strong>regulatory aspects</strong> related to <strong>medical aid-in-dying (MAID)</strong> and other <strong>end-of-life practices</strong>, including palliative sedation, withholding/withdrawal of life-sustaining-therapies, and advanced care planning, etc.
      </p>
    </Container>
</section>