---
import LinkItem from './LinkItem.astro';
---
  <div
    uk-sticky="start: 170; animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; end: ! *; offset:0"
  >
    <nav class="uk-navbar-container uk-container py-2">
        <div uk-navbar>
            <div class="uk-navbar-item uk-logo w-52">
              <img src="/inedyto.webp" alt="logo" />
            </div>
            <ul class="uk-navbar-nav ml-auto">
              <LinkItem url="/" className='uk-visible@m'>Home</LinkItem>
              <LinkItem url="/inscriptions" className='uk-visible@m'>Inscriptions</LinkItem>
              <LinkItem url="/about-us" className='uk-visible@m'>About the organization</LinkItem>
              <LinkItem url="/survival-guide" className='uk-visible@m'>Survival guide</LinkItem>
              <li class="uk-hidden@m">
                <span
                  class="uk-navbar-toggle-animate uk-navbar-toggle"
                  uk-navbar-toggle-icon
                  uk-toggle="target: #offcanvas-nav"
                ></span>
              </li>
            </ul>
          </div>
    </nav>
  </div>
