---
import Container from "./Container.astro";

---
<Container>
    <h4 class="uk-h4 text-center mt-5">Fees <strong>*</strong></h4>
    <p class="text-center"><strong>150 euros</strong> - Senior scholar (&gt;5 years after PhD)</p>
    <p class="text-center"><strong>50 euros</strong> - Junior scholar (max 5 years after PhD)</p>
    <p class="text-center disclaimer mt-5">* Assistant must pay the inscription fees. If you want to assist without participate please send an email with your Name and Last name at this direction: <a href="mailto:gconferenceeol@gmail.com" class="underline uk-text-bold">gconferenceeol@gmail.com</a></p>
</Container>

<style>
.disclaimer {
    font-size: 0.8rem;
    max-width: 300px;
    margin-inline: auto;
}