<div class="mt-10">
  <h3 class="uk-h2 text-center">
    Presentations are welcome on the following categories:
  </h3>

  <ul class="mt-10">
    <li>
      <span uk-icon="icon: chevron-double-right; ratio: 1.5"></span>
      Oversight and data reporting on MAID and other end-of-life practices
    </li>
    <li>
      <span uk-icon="icon: chevron-double-right; ratio: 1.5"></span>
      Eligibility criteria for MAID
    </li>
    <li>
      <span uk-icon="icon: chevron-double-right; ratio: 1.5"></span>
      Issues related to non-conventional MAID: children, dementia, psychiatry, prisoners,
      tired-of living
    </li>
    <li>
      <span uk-icon="icon: chevron-double-right; ratio: 1.5"></span>
      Withdrawal/withholding of life-sustaining treatment and medical futility
    </li>
    <li>
      <span uk-icon="icon: chevron-double-right; ratio: 1.5"></span>Palliative
      care and palliative sedation
    </li>
    <li>
      <span uk-icon="icon: chevron-double-right; ratio: 1.5"></span>Respect for
      autonomy in end-of-life, and advance directives
    </li>
    <li>
      <span uk-icon="icon: chevron-double-right; ratio: 1.5"></span>Conscientious
      objection
    </li>
    <li>
      <span uk-icon="icon: chevron-double-right; ratio: 1.5"></span>Allocation of
      potentially life-sustaining treatment
    </li>
    <li>
      <span uk-icon="icon: chevron-double-right; ratio: 1.5"></span>End-of-life
      and organ donation
    </li>
  </ul>
</div>

<style>
  ul {
    list-style-type: none;
    padding-left: 0;

    max-width: 720px;
    margin-inline: auto;
  }

  li {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
  }
</style>
