---
declare interface Props {
    className?: string;
}

const { className = '' } = Astro.props as Props;

const completeClassName = `uk-container ${className}`.trim();

---

<div class={completeClassName}>
    <slot />
</div>