---
import Container from "./Container.astro";
---

<footer class="has-spinner">
  <Container className="py-20">
    <div class="footer-wrapper">
      <div class="img-container">
        <img src="/logos/UGR.webp" alt="ugr logo"  />
      </div>

      <div class="img-container">
        <img src="/logos/inedyto.webp" alt="inedyto logo" />
      </div>

      <div class="img-container">
        <img
          src="/logos/ministerio.webp"
          alt="ministerio de ciencia y universidades logo"
        />
      </div>
      
      <div class="img-container">
        <img src="/logos/filolab.webp" alt="espacyos logo" />
      </div>

      <div class="img-container">
        <img src="/logos/espacyos.webp" alt="espacyos logo" />
      </div>


      <div class="img-container">
        <img src="/logos/espacyos.webp" alt="espacyos logo" />
      </div>

      <div class="img-container">
        <img src="/logos/espacyos.webp" alt="espacyos logo" />
      </div>
    </div>
    <p class="text-center mt-10"> © 2024 <a href="https://github.com/alpalma95" target="_blank" class="underline">Álvaro Palma</a></p>
  </Container>
</footer>

<style>
  footer {
    background-color: rgb(200, 189, 138);
    position: relative;
    overflow:hidden;
    background-color: #fff;
    background-image: 
      radial-gradient(at top left, var(--primary-over), transparent),
      radial-gradient(at top right, var(--red), transparent),
      radial-gradient(at bottom left, var(--primary-over), transparent);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .footer-wrapper {
    justify-content: space-around;
    display: flex;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
  }

  .img-container {
    max-width: 320px;
  }
</style>