---
import { routes } from '../data';
import LinkItem from './LinkItem.astro';

interface Props {
  activePage: string;
}

const { activePage } = Astro.props;

---

<div id="offcanvas-nav" uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar">
    <div class="uk-navbar-item uk-logo w-12 mx-auto">
        <img src="/logo.webp" alt="logo" />
      </div>
    <ul class="uk-nav-center uk-margin-auto-vertical uk-nav uk-nav-primary">
        { routes.map((route) => (
            <LinkItem url={route.path} className={
                activePage === route.path
                  ? "uk-active"
                  : ""
              }>
                {route.name}
            </LinkItem>
        ))}
    </ul>
  </div>
</div>