---
import LinkItem from '../navbar/LinkItem.astro';
---

<div id="offcanvas-nav" uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar">
    <div class="uk-navbar-item uk-logo w-52 mx-auto">
        <img src="/inedyto.webp" alt="logo" />
      </div>
    <ul class="uk-nav-center uk-margin-auto-vertical uk-nav uk-nav-primary">
        <LinkItem url="/" >Home</LinkItem>
        <LinkItem url="/inscriptions" >Inscriptions</LinkItem>
        <LinkItem url="/about-us" >About the organization</LinkItem>
        <LinkItem url="/survival-guide" >Survival guide</LinkItem>
    </ul>
  </div>
</div>