---
import Footer from '../components/Footer.astro';
import Spinner from '../components/Spinner.astro';
import Navbar from '../components/Navbar.astro';
import OffCanvas from '../components/NavbarMobile.astro';
interface Props {
	title: string;
	activePage: string
}

const { title, activePage } = Astro.props;
---
<script>
	import { UIkit, Icons } from "franken-ui/uikit/js/dist";
	UIkit.use(Icons);
	// @ts-ignore
	window.UIkit = UIkit;
</script>

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<title>{title} | Granada Conference on End-of-Life</title>
	</head>
	<body>
		<Navbar activePage={activePage} />
		<main class="overflow-hidden has-spinner">
			<slot />
		</main>
		<aside>
			<OffCanvas activePage={activePage} />
		</aside>
		<Footer />
		<Spinner />
	</body>
</html>

<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	:root {
		--primary-over: #fde758;
		--red: #EF9CA6;
		--purple: #CE98FF;
	}
	.has-spinner {
		display: none;
	}
</style>
